#time{margin-left: 80%;}
main, footer{text-align: center;}

ul{
    list-style: none;
}

li{
    background-color: blueviolet;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    width: 30%;
}

#highScores{
    color: green;
}

button{
    margin: 10px;
}